input.pesquisa{
    outline: none;
    border:none;
    margin-bottom: 10px ;
    box-shadow: 1px 1px 1px 1px rgb(163, 160, 160);
}
.mensagem2{
    z-index: 4000;
}
/* factura */
@media print {
    body {
      width: 58mm;
      font-size: 10px;
      margin: 0;
      padding: 0;
    }
  
    .fatura {
      width: 100%;
    }
  
    .fatura td, .fatura th {
      padding: 2px 4px;
    }
  
    .no-print {
      display: none;
    }
  }
  .back{
    font-size: 30px;
    /* position: absolute ;
    left: 20%;
    top: 25%; */
  }
  .back_link{
    position: absolute ;
    left: 20%;
    top: 25%;
  }
  .go_link{
    position: absolute ;
    left: 90%;
    top: 25%;

  }
  .go{
    font-size: 30px;
  }
  .active1 {
    background-color: #007bff;
    color: white;
    font-weight: bold;
  }
  